<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--1.加载配置文件，以便下面数据连接池配置读取 -->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:properties/jdbc.properties,classpath:properties/redis.properties"/>
    <!--2.配置dbcp连接池 -->
    <bean id="dataSource"
          class="org.apache.commons.dbcp2.BasicDataSource">
        <!--基本信息配置 -->
        <!-- 数据库连接驱动-->
        <property name="driverClassName" value="${jdbc.driver}"/>
        <!--数据库连接地址 -->
        <property name="url" value="${jdbc.url}"/>
        <!--用户名 -->
        <property name="username" value="${jdbc.username}"/>
        <!-- 密码-->
        <property name="password" value="${jdbc.pwd}"/>

        <!--连接池配置 -->
        <!--初始化大小 -->
        <!--<property name="initialSize" value="${jdbc.initialSize}"/>
        &lt;!&ndash;最小空闲连接 &ndash;&gt;
        <property name="minIdle" value="${jdbc.minIdle}"/>
        &lt;!&ndash;最大空闲连接 &ndash;&gt;
        <property name="maxIdle" value="${jdbc.maxIdle}"/>
        &lt;!&ndash;等待时间（单位：毫秒） &ndash;&gt;
        <property name="maxWaitMillis" value="${jdbc.maxWaitMillis}" />
        &lt;!&ndash;最大连接数 &ndash;&gt;
        <property name="maxTotal" value="${jdbc.maxTotal}" />
        &lt;!&ndash;是否自动回收超时连接 &ndash;&gt;
        <property name="removeAbandonedOnBorrow" value="${jdbc.removeAbandonedOnBorrow}"/>
        &lt;!&ndash;连接数据库超时时间 &ndash;&gt;
        <property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}"/>-->
    </bean>

    <!-- 3.1 spring jdbcTemplate配置 -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <!--3.2spring 整合mybatis -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--自动扫描xml文件 -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <!--MyBatis全局配置文件 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--扫描dto包，使用别名 -->
        <property name="typeAliasesPackage" value="com.example.entity"/>
    </bean>

    <!--4.配置事物管理 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--基于注解管理 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" read-only="false"/>
            <tx:method name="update*" read-only="false"/>
            <tx:method name="insert*" read-only="false"/>
            <tx:method name="create*" read-only="false"/>
            <tx:method name="delete*" read-only="false"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="select*" read-only="true"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
        </tx:attributes>
    </tx:advice>
    <!--设置事物管理切面 -->
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.example.service..*.*(..))"/>
    </aop:config>
</beans>